<div class="row">
  <div class="columns small-12 large-4 large-offset-4">
    <h1>Grams!</h1>
  </div>
</div>
<div class="row">
  <div class="columns small-12 large-4 large-offset-4">
    <% @grams.each do |gram| %>
      <div class="card">
        <%= image_tag gram.picture %>
        <%= gram.message %>
      </div>
    <% end %>
  </div>
</div>