<div class="row">
  <div class="columns small-12 large-4 large-offset-4">
    <h1>New Form</h1>

    <%= simple_form_for @gram do |f| %>
      <%= f.input :picture %>
      <%= f.input :message %>
      <%= f.submit "Post!" %>
    <% end %>
  </div>
</div>